*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

body{
  background-color: #add8e6;
}

.title{
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 40px 0;
}

.contenitore{
  text-align: center;
  width: 492px;
  height: 510px;
  background-color: #add8e6;
  margin: auto;
}

.quadrato{
  width: 100px;
  height: 130px;
  margin: 10px 3px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-color: white;
  background-size: contain;
  position: relative;
}

.quadrato.fisso{
  background-image: url("../img/air_balloon.png");
  background-repeat: no-repeat;
}

.figurina{
  width: 100px;
  height: auto;
  display: none;
}

.quadrato h5{
  color: #E61986;
  position: absolute;
  bottom: 10px;
  right: 30px;
  display: none;
}
      /* hover */
.quadrato:hover {
  background: white;
}
.quadrato:hover .figurina{
  display: block;
}
.quadrato:hover h5{
  display: block;
}
h5:hover{
  color: orange;
}

.fisso h5{
  display: block;
}

footer h6{
  text-align: center;
}
